// .page-container{
//   width: 100%;
 
//   .background-image{
//     height: 2000px;
//     img{
//       width: 100%;
//       height: 800px;
//       object-fit: cover;
//     }
//     background-color: aqua;
//   }
// }

.container{
  max-width: 100%;
  //height: 1200px;
  position: relative;
 
  .background-image{
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.01), rgba(19, 19, 19, 0.99)),
      url('https://i.imgur.com/oHwrroD.jpg');
    width: 100%;
    height: 800px;
    background-size: cover;
    color: white;
  }
}

